:root{
    font-family: 'Plus Jakarta Sans', sans-serif;
    $body-bg: #FFFFFF;
    

    $purple-dark: #635FC7;
    $purple-light: #A8A4FF;

    $navy-dark: #000112;
    $navy-light: #20212C;

    $platinum-darkest: #2B2C37;
    $platinum-dark: #3E3F4E;
    $platinum-light: #828FA3;
    $platinum-lightest: #E4EBFA;

    $white-dark: #F4F7FD;
    $white-light: #FFFFFF;

    $salmon-dark: #EA5555;
    $salmon-light: #FF9898;

}

.heading-xl{
    font-family: var;
}




